<div class="container">
  <h1>Welcome to Expenses Portal</h1>

<form #addForm="ngForm" (ngSubmit)="getFunction()">
  <div class="form-group">
    <input type="number" class="form-control" placeholder="Enter ID" name="id" #id="ngModel" [(ngModel)]="expense_code" required >
    <div class="alert alert-danger" *ngIf="id.dirty && id.invalid">
      ID can't be empty
    </div>
  </div>
  <button class="btn btn-primary" type="submit" [disabled]="addForm.pristine || addForm.invalid" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" 
  aria-controls="collapseExample">Search</button>
  
</form>

<div class="collapse" id="collapseExample" *ngIf="expense_code">
  <div>
    
    <div class="alert alert-danger" *ngIf="!(ExpenseService.Expenses[0])">
        ID not found
      </div> 
    
      <table class="table" *ngFor="let expense of ExpenseService.Expenses">
        <thead>
          <tr>
            <th scope="col">EXPENSE CODE</th>
            <th scope="col">EXPENSE TYPE</th>
            <th scope="col">EXPENSE DESCRIPTION</th>
            
          </tr>
        </thead>
    
        <tbody >
          <tr>
            <th>{{expense.expense_code}}</th>
            <td>{{expense.expense_type}}</td>
            <td>{{expense.expense_description}}</td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>

  
<!-- <div class="collapse" id="collapseExample" *ngIf="!flag">
  <h1>The list is empty</h1>

</div>
   -->
  </div>

 